absl-py==2.0.0
abstra==1.17.11
affine==2.4.0
aiocache==0.12.2
aiofiles==22.1.0
aiohappyeyeballs==2.3.7
aiohttp==3.10.4
aiosignal==1.3.1
aiosqlite==0.19.0
alembic==1.13.2
altair==5.1.2
altgraph==0.17.4
analytics-python==1.4.post1
annotated-types==0.6.0
ansi2html==1.8.0
antiorm==1.2.1
anyio==3.7.1
apache-airflow==2.10.0
apache-airflow-providers-amazon==8.27.0
apache-airflow-providers-common-compat==1.1.0
apache-airflow-providers-common-io==1.4.0
apache-airflow-providers-common-sql==1.15.0
apache-airflow-providers-databricks==6.8.0
apache-airflow-providers-fab==1.2.2
apache-airflow-providers-ftp==3.4.2
apache-airflow-providers-http==4.4.2
apache-airflow-providers-imap==3.2.2
apache-airflow-providers-smtp==1.7.1
apache-airflow-providers-snowflake==5.6.1
apache-airflow-providers-sqlite==3.4.2
apispec==6.6.1
argcomplete==3.1.1
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.7.2
asn1crypto==1.5.1
astro==0.2.7
astro-sdk-python==1.8.1
asttokens==2.4.0
astunparse==1.6.3
async-lru==2.0.4
async-timeout==4.0.2
atpublic==5.0
attrs==23.1.0
auto-py-to-exe==2.41.0
aws-lambda-builders==1.38.0
aws-sam-cli==1.98.0
aws-sam-translator==1.75.0
aws-shell==0.2.2
awscli==1.34.5
Babel==2.12.1
backcall==0.2.0
backoff==1.10.0
beautifulsoup4==4.12.2
binaryornot==0.4.4
bleach==6.0.0
blinker==1.6.2
bokeh==3.3.1
boto3==1.35.5
boto3-stubs==1.28.55
botocore==1.35.5
botocore-stubs==1.31.62
bottle==0.12.25
bottle-websocket==0.2.9
branca==0.7.0
Brotli==1.1.0
bs4==0.0.2
build==1.0.3
CacheControl==0.13.1
cachelib==0.9.0
cachetools==5.3.2
cattrs==23.1.2
cefpython3==66.1
certifi==2023.5.7
cffi==1.15.1
cfn-lint==0.80.4
chardet==5.2.0
charset-normalizer==3.1.0
chevron==0.14.0
cleo==2.1.0
click==8.1.4
click-plugins==1.1.1
clickclick==20.10.2
cligj==0.7.2
cloudpickle==2.2.1
clr-loader==0.2.6
colorama==0.4.6
colorclass==2.2.2
colorlog==6.8.2
colour==0.1.5
comm==0.1.4
configobj==5.0.8
ConfigUpdater==3.1.1
connexion==2.14.2
contextily==1.4.0
contourpy==1.2.0
cookiecutter==2.3.1
crashtest==0.4.1
cron-descriptor==1.4.0
croniter==3.0.3
cryptography==41.0.7
cx_Freeze==7.1.1
cx_Logging==3.2.0
cycler==0.12.1
dash==2.14.1
dash-bootstrap-components==1.3.1
dash-colorscales==0.0.4
dash-core-components==2.0.0
dash-daq==0.5.0
dash-html-components==2.0.0
dash-table==5.0.0
databricks-connect==15.3.1
databricks-sdk==0.30.0
databricks-sql-connector==2.9.6
datapane==0.17.0
dateparser==1.1.8
DateTime==5.2
db==0.1.1
db-sqlite3==0.0.1
debugpy==1.6.7.post1
decorator==4.4.2
defusedxml==0.7.1
Deprecated==1.2.14
dill==0.3.1.1
distlib==0.3.7
Django==4.2.7
dnspython==2.3.0
docker==6.1.3
docopt==0.6.2
docutils==0.16
dominate==2.8.0
dtale==3.7.0
dulwich==0.21.6
easy-pil==0.3.0
EasyProcess==1.1
Eel==0.16.0
email-validator==1.3.1
entrypoint2==1.1
entrypoints==0.4
et-xmlfile==1.1.0
executing==1.2.0
ezdxf==1.1.3
fastjsonschema==2.18.1
filelock==3.13.1
fiona==1.9.5
fire==0.5.0
Flask==2.2.5
Flask-AppBuilder==4.5.0
Flask-Babel==2.0.0
Flask-Caching==2.0.2
Flask-Compress==1.14
Flask-Cors==4.0.0
Flask-JWT-Extended==4.5.2
Flask-Limiter==3.3.1
Flask-Login==0.6.2
flask-ngrok==0.0.25
Flask-Session==0.5.0
flask-sock==0.6.0
Flask-SQLAlchemy==2.5.1
flask-talisman==1.1.0
Flask-WTF==1.1.1
flatbuffers==23.5.26
folium==0.15.1
fonttools==4.44.0
fpdf==1.7.2
fqdn==1.5.1
frozenlist==1.3.3
fsspec==2024.6.1
future==0.18.3
gast==0.5.4
geographiclib==2.0
geopandas==0.14.1
geopy==2.4.1
gevent==23.9.1
gevent-websocket==0.10.1
gitdb==4.0.11
GitPython==3.1.43
glob2==0.7
google-auth==2.23.4
google-auth-oauthlib==1.1.0
google-pasta==0.2.0
google-re2==1.0
googleapis-common-protos==1.63.2
graphviz==0.20.1
greenlet==2.0.2
grpcio==1.65.5
grpcio-status==1.65.5
gunicorn==20.1.0
h11==0.14.0
h5py==3.10.0
html5lib==1.1
httpcore==1.0.5
httpx==0.27.0
idna==3.4
imageio==2.33.1
imageio-ffmpeg==0.4.9
importlib-metadata==6.8.0
importlib-resources==5.12.0
inflection==0.5.1
installer==0.7.0
ipykernel==6.29.5
ipyleaflet==0.18.0
ipynbname==2023.2.0.0
ipython==8.15.0
ipython-genutils==0.2.0
ipywidgets==8.1.1
isoduration==20.11.0
itsdangerous==2.1.2
jaraco.classes==3.3.0
JayDeBeApi==1.2.3
jedi==0.19.0
Jinja2==3.1.4
jmespath==1.0.1
joblib==1.3.2
JPype1==1.5.0
jschema-to-python==1.2.3
json5==0.9.14
jsonpatch==1.33
jsonpath-ng==1.6.1
jsonpickle==3.0.2
jsonpointer==2.4
jsonschema==4.18.0
jsonschema-specifications==2023.6.1
junit-xml==1.9
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.7.0
jupyter-lsp==2.2.0
jupyter-ydoc==0.2.5
jupyter_client==7.4.9
jupyter_core==5.3.1
jupyter_server==2.7.3
jupyter_server_fileid==0.9.0
jupyter_server_terminals==0.4.4
jupyter_server_ydoc==0.8.0
jupyterlab==3.6.6
jupyterlab-night==0.4.6
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.9
jupyterlab_server==2.25.0
kaleido==0.2.1
keras==2.15.0
keyring==24.2.0
kinematics==0.1.7
kiwisolver==1.4.5
lazy-object-proxy==1.9.0
libclang==16.0.6
lief==0.14.1
limits==3.5.0
linkify-it-py==2.0.2
lml==0.1.0
lockfile==0.12.2
Logbook==1.7.0.post0
lxml==4.9.3
lz4==4.3.2
mailtrap==2.0.1
Mako==1.2.4
Markdown==3.4.3
markdown-it-py==3.0.0
MarkupSafe==2.1.3
marshmallow==3.19.0
marshmallow-enum==1.5.1
marshmallow-oneofschema==3.0.1
marshmallow-sqlalchemy==0.26.1
matplotlib==3.8.1
matplotlib-inline==0.1.6
mdit-py-plugins==0.4.0
mdurl==0.1.2
mercantile==1.2.1
mergedeep==1.3.4
methodtools==0.4.7
micawber==0.5.5
missingno==0.5.2
mistune==3.0.2
mitoinstaller==0.0.262
mitosheet==0.1.528
ml-dtypes==0.2.0
monotonic==1.6
more-itertools==10.1.0
MouseInfo==0.1.3
moviepy==1.0.3
mplleaflet==0.0.5
mpmath==1.3.0
msgpack==1.0.7
mss==9.0.1
multidict==6.0.4
multimethod==1.10
multipart==0.2.4
mypy-boto3-apigateway==1.28.36
mypy-boto3-cloudformation==1.28.48
mypy-boto3-ecr==1.28.45
mypy-boto3-iam==1.28.37
mypy-boto3-lambda==1.28.36
mypy-boto3-s3==1.28.55
mypy-boto3-schemas==1.28.36
mypy-boto3-secretsmanager==1.28.36
mypy-boto3-signer==1.28.36
mypy-boto3-stepfunctions==1.28.36
mypy-boto3-sts==1.28.58
mypy-boto3-xray==1.28.47
nbclassic==1.0.0
nbclient==0.8.0
nbconvert==7.8.0
nbformat==5.9.2
nest-asyncio==1.5.7
networkx==3.1
nltk==3.8.1
notebook==6.5.6
notebook_shim==0.2.3
Nuitka==2.3.10
numexpr==2.8.7
numpy==1.23.5
oauthlib==3.2.2
opencv-python==4.8.1.78
openpyxl==3.1.2
opentelemetry-api==1.26.0
opentelemetry-exporter-otlp==1.26.0
opentelemetry-exporter-otlp-proto-common==1.26.0
opentelemetry-exporter-otlp-proto-grpc==1.26.0
opentelemetry-exporter-otlp-proto-http==1.26.0
opentelemetry-proto==1.26.0
opentelemetry-sdk==1.26.0
opentelemetry-semantic-conventions==0.47b0
opt-einsum==3.3.0
ordered-set==4.1.0
osmnx==1.8.0
outcome==1.3.0
overrides==7.4.0
packaging==23.2
pandas==2.1.3
# Editable Git install with no remote (pandastable==0.13.1)
-e c:\windows\system32\src\pandastable
pandocfilters==1.5.0
parso==0.8.3
pathspec==0.9.0
patsy==0.5.3
pbr==5.11.1
pdf2image==1.17.0
pdfkit==1.0.0
pdfminer.six==20221105
pdfplumber==0.10.2
pefile==2023.2.7
pendulum==2.1.2
pexpect==4.8.0
pg8000==1.31.2
pickleshare==0.7.5
Pillow==9.2.0
pip-upgrader==1.4.15
pipreqs==0.4.13
pkginfo==1.9.6
platformdirs==3.10.0
plotly==5.18.0
pluggy==1.5.0
plum-dispatch==1.7.4
ply==3.11
poetry==1.7.0
poetry-core==1.8.1
poetry-plugin-export==1.6.0
prison==0.2.1
proglog==0.1.10
progress==1.6
prometheus-client==0.17.1
prompt_toolkit==3.0.47
protobuf==5.27.3
proxy-tools==0.1.0
psutil==5.9.5
psycopg2==2.9.6
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pure-eval==0.2.2
py2exe==0.13.0.1
py4j==0.10.9.7
pyarrow==14.0.1
pyasn1==0.5.1
pyasn1-modules==0.3.0
PyAthena==3.9.0
PyAutoGUI==0.9.54
pycparser==2.21
pydantic==2.8.2
pydantic_core==2.20.1
pydeck==0.8.1b0
pydub==0.25.1
pyexcel==0.7.0
pyexcel-io==0.6.6
pyexcel-xls==0.7.0
pyexcel-xlsx==0.6.0
pygal==3.0.3
pygame==2.5.2
PyGetWindow==0.0.9
Pygments==2.15.1
pyinstaller @ https://github.com/pyinstaller/pyinstaller/archive/develop.zip#sha256=ebc4b3fef2eb1f985010fdf10bf241487e574f828d1a4ec10ab0fddde841d9d8
pyinstaller-hooks-contrib==2023.10
PyJWT==2.7.0
pymongo==4.7.2
Pympler==1.1
PyMsgBox==1.0.9
PyMuPDF==1.21.1
PyMuPDFb==1.24.6
pyodbc==5.1.0
pyOpenSSL==23.2.0
pyparsing==3.1.0
PyPDF2==3.0.1
pypdfium2==4.20.0
pyperclip==1.8.2
pypng==0.20220715.0
pyproj==3.6.1
pyproject_hooks==1.0.0
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
PyQtWebEngine==5.15.6
PyQtWebEngine-Qt5==5.15.2
PyRect==0.2.0
pyscreenshot==3.1
PyScreeze==0.1.29
PySocks==1.7.1
pytesseract==0.3.10
python-daemon==3.0.1
python-dateutil==2.8.2
python-docx==1.1.0
python-dotenv==1.0.1
python-frontmatter==1.1.0
python-json-logger==2.0.7
python-nvd3==0.15.0
python-pptx==0.6.21
python-slugify==8.0.1
python-time==0.3.0
pythonnet==3.0.3
pytube==15.0.0
pytweening==1.0.7
pytz==2023.3
pytzdata==2020.1
pywebview==4.4.1
pywin32==306
pywin32-ctypes==0.2.2
pywinpty==2.0.11
pyxlsb==1.0.10
PyYAML==6.0.1
pyzmq==24.0.1
qrcode==7.4.2
qtconsole==5.5.0
QtPy==2.4.1
rapidfuzz==3.5.2
rasterio==1.3.9
redshift-connector==2.1.3
referencing==0.29.1
regex==2023.10.3
Represent==2.1
req==1.0.0
requests==2.32.3
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
requirements-parser==0.9.0
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986==1.5.0
rfc3986-validator==0.1.1
rich==13.7.1
rich-argparse==1.2.0
rpds-py==0.8.8
rsa==4.7.2
ruamel.yaml==0.17.35
ruamel.yaml.clib==0.2.8
rush==2021.4.0
s3transfer==0.10.2
sarif-om==1.0.4
scikit-learn==1.3.2
scipy==1.11.4
scramp==1.4.5
seaborn==0.13.0
secure-smtplib==0.1.1
selenium==4.15.2
semver==3.0.2
Send2Trash==1.8.2
setproctitle==1.3.3
shapely==2.0.2
shellingham==1.5.4
simple-websocket==0.10.1
simplejson==3.19.1
six==1.16.0
smart-open==6.4.0
smmap==5.0.1
sniffio==1.3.0
snowflake-cli-labs==2.7.0
snowflake-connector-python==3.11.0
snowflake-snowpark-python==1.21.0
snowflake-sqlalchemy==1.6.1
snowflake.core==0.8.0
snuggs==1.4.7
sortedcontainers==2.4.0
soupsieve==2.5
spacetrack==1.3.1
spiceypy==6.0.0
Spire.Xls==13.9.0
Spire.XLS-for-Python==13.5.0
SQLAlchemy==1.4.49
SQLAlchemy-JSONField==1.0.1.post0
sqlalchemy-redshift==0.8.14
SQLAlchemy-Utils==0.41.1
SQLite3-0611==0.0.1
sqlparse==0.4.4
squarify==0.4.3
stack-data==0.6.2
statsmodels==0.14.0
streamlit==1.36.0
strsimpy==0.2.1
sympy==1.12
tabulate==0.9.0
tenacity==8.2.2
tensorboard==2.15.1
tensorboard-data-server==0.7.2
tensorflow==2.15.0
tensorflow-estimator==2.15.0
tensorflow-intel==2.15.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.3.0
terminado==0.17.1
terminaltables==3.1.10
text-unidecode==1.3
texttable==1.7.0
threadpoolctl==3.2.0
thrift==0.16.0
times==0.7
tinycss2==1.2.1
tk==0.1.0
tkcalendar==1.6.1
tkinterhtml==0.7
tkinterweb==3.23.5
toml==0.10.2
tomlkit==0.13.0
toolz==0.12.0
tornado==6.3.3
tqdm==4.66.1
traitlets==5.9.0
traittypes==0.2.1
trio==0.22.2
trio-websocket==0.11.1
trove-classifiers==2023.11.9
ttkbootstrap==1.10.1
typer==0.12.3
types-awscrt==0.19.2
types-python-dateutil==2.8.19.14
types-s3transfer==0.7.0
types-setuptools==73.0.0.20240822
typing_extensions==4.7.1
tzdata==2023.3
tzlocal==5.0.1
uc-micro-py==1.0.2
unicodecsv==0.14.1
universal_pathlib==0.2.2
uri-template==1.3.0
urllib3==1.26.16
validators==0.20.0
vega-datasets==0.9.0
virtualenv==20.24.6
watchdog==3.0.0
watchtower==3.2.0
wcwidth==0.2.6
webcolors==1.13
webdriver-manager==4.0.1
webencodings==0.5.1
websocket-client==1.6.3
Werkzeug==2.2.3
whichcraft==0.6.1
widgetsnbextension==4.0.9
wirerope==0.4.7
wrapt==1.15.0
wsproto==1.2.0
WTForms==3.0.1
xarray==2023.11.0
xlrd==2.0.1
XlsxWriter==3.1.3
xlwt==1.3.0
xyzservices==2023.10.1
y-py==0.6.2
yamllint==1.35.1
yarg==0.1.9
yarl==1.9.2
ypy-websocket==0.8.4
zipp==3.17.0
zope.event==5.0
zope.interface==6.1
zstandard==0.22.0
